In [45]:
import csv
import json
import sys,os
rel_path = os.path.realpath('./data')
rel_path += '/'

In [46]:
class CSVTable():

    # Change to wherever you want to save the CSV files.

    def __init__(self, table_name, table_file, key_columns):
        '''
        Constructor
        :param table_name: Logical names for the data table.
        :param table_file: File name of CSV file to read/write.
        :param key_columns: List of column names the form the primary key.
        '''
        self.table_name = table_name
        self.table_file = rel_path + table_file
        self.key_columns = key_columns
        self.data = []
    
    def __str__(self):
        '''
        Pretty print the table and state.
        :return: String
        '''
        return json.dumps(self.data, indent=2)
        
    def load(self):
        '''
        Load information from CSV file.
        :return: None
        '''
        try:
            with open(self.table_file, mode = 'r') as csv_file:
                csv_reader = csv.DictReader(csv_file)
                for i in csv_reader:
                    self.data.append(i)
                

        except IOError:
            print ("The datatable file doens't exit")
        
        for i in self.key_columns:
            if i not in self.data[0]:
                raise ValueError("The primary keys are invalid")

    def find_by_primary_key(self, string_set, fields=None):

        if len(string_set) != len(self.key_columns):
            raise ValueError("The primary keys inputed didn't match the key columns")
        result = []
        if fields == None:
            for i in self.data:
                count_match = 0
                for j in range(0,len(string_set)):
                    if i[self.key_columns[j]] == string_set[j]:
                        count_match += 1
                if count_match == len(self.key_columns):
                    result.append(i)
        else:
            
            for j in fields:
                if j not in self.data[0].keys():
                    raise ValueError("The fields don't match the database column types")
            
            unwanted = self.data[0].keys() - fields
            for i in self.data:
                count_match = 0
                for j in range(0,len(string_set)):
                    if i[self.key_columns[j]] == string_set[j]:
                        count_match += 1
                if count_match == len(self.key_columns):
                    for unwanted_key in unwanted:
                        temp = i.copy()
                        del temp[unwanted_key]
                    result.append(temp)

        return result        

    def find_by_template_top(self):
        result = set()

        for i in self.data:
            if int(i["yearID"]) >= 1960 and int(i["AB"]) >= 200:
                result.add(i['playerID'])
        
        return result

In [47]:
csvt_batting = CSVTable("Batting", "Batting.csv",["playerID"])
csvt_batting.load()

csvt = CSVTable("People", "People.csv", ["playerID"])
csvt.load()

In [50]:
player_set = csvt_batting.find_by_template_top()

player_dict = {}
for i in player_set:
    string_set =[]
    string_set.append((i))
    r = csvt_batting.find_by_primary_key(string_set,["AB","H"])
    total_ab = 0
    total_h = 0
    for j in r:
        total_ab += int(j["AB"])
        total_h += int(j["H"]) 
    player_dict[i] = float(total_h)/total_ab

player_dict_sorted = sorted(player_dict.items(),key = lambda x:x[1],reverse = True)

final_result = []
for i in player_dict_sorted:
    string_set = []
    string_set.append(i[0])
    r = csvt.find_by_primary_key(string_set)
    final_result.append(r)
    
    if len(final_result) == 10:
        break
print(json.dumps(final_result, indent=2))

[
  [
    {
      "playerID": "willite01",
      "birthYear": "1918",
      "birthMonth": "8",
      "birthDay": "30",
      "birthCountry": "USA",
      "birthState": "CA",
      "birthCity": "San Diego",
      "deathYear": "2002",
      "deathMonth": "7",
      "deathDay": "5",
      "deathCountry": "USA",
      "deathState": "FL",
      "deathCity": "Inverness",
      "nameFirst": "Ted",
      "nameLast": "Williams",
      "nameGiven": "Theodore Samuel",
      "weight": "205",
      "height": "75",
      "bats": "L",
      "throws": "R",
      "debut": "4/20/1939",
      "finalGame": "9/28/1960",
      "retroID": "willt103",
      "bbrefID": "willite01"
    }
  ],
  [
    {
      "playerID": "gwynnto01",
      "birthYear": "1960",
      "birthMonth": "5",
      "birthDay": "9",
      "birthCountry": "USA",
      "birthState": "CA",
      "birthCity": "Los Angeles",
      "deathYear": "2014",
      "deathMonth": "6",
      "deathDay": "16",
      "deathCountry": "USA",
      "deathState": "CA",
      "deathCity": "Poway",
      "nameFirst": "Tony",
      "nameLast": "Gwynn",
      "nameGiven": "Anthony Keith",
      "weight": "185",
      "height": "71",
      "bats": "L",
      "throws": "L",
      "debut": "7/19/1982",
      "finalGame": "10/7/2001",
      "retroID": "gwynt001",
      "bbrefID": "gwynnto01"
    }
  ],
  [
    {
      "playerID": "musiast01",
      "birthYear": "1920",
      "birthMonth": "11",
      "birthDay": "21",
      "birthCountry": "USA",
      "birthState": "PA",
      "birthCity": "Donora",
      "deathYear": "2013",
      "deathMonth": "1",
      "deathDay": "19",
      "deathCountry": "USA",
      "deathState": "MO",
      "deathCity": "Ladue",
      "nameFirst": "Stan",
      "nameLast": "Musial",
      "nameGiven": "Stanley Frank",
      "weight": "175",
      "height": "72",
      "bats": "L",
      "throws": "L",
      "debut": "9/17/1941",
      "finalGame": "9/29/1963",
      "retroID": "musis101",
      "bbrefID": "musiast01"
    }
  ],
  [
    {
      "playerID": "turnetr01",
      "birthYear": "1993",
      "birthMonth": "6",
      "birthDay": "30",
      "birthCountry": "USA",
      "birthState": "FL",
      "birthCity": "Boynton Beach",
      "deathYear": "",
      "deathMonth": "",
      "deathDay": "",
      "deathCountry": "",
      "deathState": "",
      "deathCity": "",
      "nameFirst": "Trea",
      "nameLast": "Turner",
      "nameGiven": "Trea Vance",
      "weight": "185",
      "height": "73",
      "bats": "R",
      "throws": "R",
      "debut": "8/21/2015",
      "finalGame": "10/1/2017",
      "retroID": "turnt001",
      "bbrefID": "turnetr01"
    }
  ],
  [
    {
      "playerID": "boggswa01",
      "birthYear": "1958",
      "birthMonth": "6",
      "birthDay": "15",
      "birthCountry": "USA",
      "birthState": "NE",
      "birthCity": "Omaha",
      "deathYear": "",
      "deathMonth": "",
      "deathDay": "",
      "deathCountry": "",
      "deathState": "",
      "deathCity": "",
      "nameFirst": "Wade",
      "nameLast": "Boggs",
      "nameGiven": "Wade Anthony",
      "weight": "190",
      "height": "74",
      "bats": "L",
      "throws": "R",
      "debut": "4/10/1982",
      "finalGame": "8/27/1999",
      "retroID": "boggw001",
      "bbrefID": "boggswa01"
    }
  ],
  [
    {
      "playerID": "carewro01",
      "birthYear": "1945",
      "birthMonth": "10",
      "birthDay": "1",
      "birthCountry": "Panama",
      "birthState": "Canal Zone",
      "birthCity": "Gatun",
      "deathYear": "",
      "deathMonth": "",
      "deathDay": "",
      "deathCountry": "",
      "deathState": "",
      "deathCity": "",
      "nameFirst": "Rod",
      "nameLast": "Carew",
      "nameGiven": "Rodney Cline",
      "weight": "170",
      "height": "72",
      "bats": "L",
      "throws": "R",
      "debut": "4/11/1967",
      "finalGame": "10/5/1985",
      "retroID": "carer001",
      "bbrefID": "carewro01"
    }
  ],
  [
    {
      "playerID": "cabremi01",
      "birthYear": "1983",
      "birthMonth": "4",
      "birthDay": "18",
      "birthCountry": "Venezuela",
      "birthState": "Aragua",
      "birthCity": "Maracay",
      "deathYear": "",
      "deathMonth": "",
      "deathDay": "",
      "deathCountry": "",
      "deathState": "",
      "deathCity": "",
      "nameFirst": "Miguel",
      "nameLast": "Cabrera",
      "nameGiven": "Jose Miguel",
      "weight": "240",
      "height": "76",
      "bats": "R",
      "throws": "R",
      "debut": "6/20/2003",
      "finalGame": "9/23/2017",
      "retroID": "cabrm001",
      "bbrefID": "cabremi01"
    }
  ],
  [
    {
      "playerID": "puckeki01",
      "birthYear": "1960",
      "birthMonth": "3",
      "birthDay": "14",
      "birthCountry": "USA",
      "birthState": "IL",
      "birthCity": "Chicago",
      "deathYear": "2006",
      "deathMonth": "3",
      "deathDay": "6",
      "deathCountry": "USA",
      "deathState": "AZ",
      "deathCity": "Phoenix",
      "nameFirst": "Kirby",
      "nameLast": "Puckett",
      "nameGiven": "Kirby",
      "weight": "178",
      "height": "68",
      "bats": "R",
      "throws": "R",
      "debut": "5/8/1984",
      "finalGame": "9/28/1995",
      "retroID": "puckk001",
      "bbrefID": "puckeki01"
    }
  ],
  [
    {
      "playerID": "guerrvl01",
      "birthYear": "1975",
      "birthMonth": "2",
      "birthDay": "9",
      "birthCountry": "D.R.",
      "birthState": "Peravia",
      "birthCity": "Nizao",
      "deathYear": "",
      "deathMonth": "",
      "deathDay": "",
      "deathCountry": "",
      "deathState": "",
      "deathCity": "",
      "nameFirst": "Vladimir",
      "nameLast": "Guerrero",
      "nameGiven": "Vladimir",
      "weight": "235",
      "height": "75",
      "bats": "R",
      "throws": "R",
      "debut": "9/19/1996",
      "finalGame": "9/28/2011",
      "retroID": "guerv001",
      "bbrefID": "guerrvl01"
    }
  ],
  [
    {
      "playerID": "clemero01",
      "birthYear": "1934",
      "birthMonth": "8",
      "birthDay": "18",
      "birthCountry": "P.R.",
      "birthState": "",
      "birthCity": "Carolina",
      "deathYear": "1972",
      "deathMonth": "12",
      "deathDay": "31",
      "deathCountry": "P.R.",
      "deathState": "",
      "deathCity": "San Juan",
      "nameFirst": "Roberto",
      "nameLast": "Clemente",
      "nameGiven": "Roberto",
      "weight": "175",
      "height": "71",
      "bats": "R",
      "throws": "R",
      "debut": "4/17/1955",
      "finalGame": "10/3/1972",
      "retroID": "clemr101",
      "bbrefID": "clemero01"
    }
  ]
]

In [2]:
import pymysql
import json

cnx = pymysql.connect(host= "localhost",
                      user= "root",
                      password= "zhangchi25",
                      db="lahman2017n",
                      charset='utf8mb4',
                      cursorclass=pymysql.cursors.DictCursor)
cursor = cnx.cursor()
q = "ELECT \
Batting.playerID, \
(SELECT People.nameFirst FROM People WHERE People.playerID=Batting.playerID) as first_name, \
(SELECT People.nameLast FROM People WHERE People.playerID=Batting.playerID) as last_name, \
sum(Batting.h)/sum(batting.ab) as career_average, \
sum(Batting.h) as career_hits, \
sum(Batting.ab) as career_at_bats,\
min(Batting.yearID) as first_year, \
max(Batting.yearID) as last_year \
FROM \
Batting \
GROUP BY \
playerId \
HAVING \
career_at_bats > 200 AND last_year >= 1960 \
ORDER BY \
career_average DESC \
LIMIT 10;"

cursor.execute(q)
r = cursor.fetchall()
print(json.dumps(r, indent=2))

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'ELECT Batting.playerID, (SELECT People.nameFirst FROM People WHERE People.player' at line 1")